.boxMenuNavegacion {
  display: flex;
  background-color: white;
  height: 75px;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 10px 14px 10px 297px;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.08);
}

.boxListaMenuNavegacion {
  display: flex;
  font-size: 18px;
  line-height: 16px;
  align-items: flex-end;
  letter-spacing: 0.2px;
  color: #373f41;
  list-style-type: none;
  text-decoration: none;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
  margin: 5px;
  overflow: hidden;
  overflow-y: hidden;
}

.boxListaMenuNavegacion li {
  margin: auto 20px auto 20px;
}

.boxListaMenuNavegacion a:link,
.boxListaMenuNavegacion a:visited,
.boxLis taMenuNavegacion a:active {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.boxListaMenuNavegacion a:hover {
  color: #9c9c9c;
}

.portada {
  width: 100%;
  height: 628px;
  background: #c4c4c4;
}

.containerTextNav {
  width: 100%;
  height: 163px;
  font-size: 96px;
  color: #000000;
  padding: 153px 112px;
}

h1 {

  font-size: 96PX;
  line-height: 65px;
}

h3 {
  font-size: 48px;
   font-weight: lighter;


}

h4 {
  font-size: 24px;

}

.portafolio {
  position: absolute;
  width: 116px;
  height: 29px;
  left: 300px;
  top: 21px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

#sobreMi,
#proyectos,
#contacto {
  padding: 62px;
}

.ultimo {
  position: absolute;
  font-size: 18px;
  padding: 40px 4px;
  bottom: 115px;
  text-decoration-line: underline;
  color: #000000;
}

.estiloImg {
      width: 347px;
  height: 338px;
  left: 167px;
  top: 1516px;
  background: #c4c4c4;
}

.subtitulos {
  padding: 62px;
}

#skill {
  display: flex;
  flex-flow: row wrap;
  padding: 62px 0px;
}

.imgPortada {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 900px;
  top: 201px;
  border-radius: 50%;
}

.columnaText ul li {
font-weight: bold;
  list-style-type: none;
  text-decoration: none;
}

.barBack{
position: absoluta;
width: 446px;
height: 24px;
left: 832px;
top: 1588px;
 z-index: -1;

background: #F5D6AB;
}

.barFront{
position: absoluta;
width: 330px;
height: 24px;
left: 832px;
top: 1588px;
z-index: 1;


background: #C4C4C4;
}
.barFrontUi{
width: 270px;
height: 24px;
left: 826px;
top: 1738px;

background: #C4C4C4;
}

.columnaText2 ul li{
  
    list-style-type: none;
  text-decoration: none;

}

