.footer {
  position: absolute;
  width: 100%;
  height: 400px;
  left: -1px;
  top: 2500px;
  background-color: #212529;
  color: white;

}
.PamelaFooter {
  display: block;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .footer {
 
    width: 100%;
    height: 400px;
    top: 1500px;
    margin-top: 154px;
    color: black;
    background-color: white;
}


  .columnaText2 ul li{
    
    display: block;
      list-style-type: none;
  text-decoration: none;
  }
}
