
.img_proyecto img{
width: 50%;
   margin-left: 23%;
}

a{
    font-size: 20px;
    font-weight: bold;
    color: #833a93;
}

@media(max-width: 600px) {
    .img_proyecto img{
    width: 75%;
    margin-left: 14%;
}
#proyectos h2{
margin-bottom: 38px;
}

.slick-dots {
    width: 100%;
    list-style: none;
    text-align: center;
        bottom: -17px;
}

a{
    font-size: 15px;
    font-weight: bold;
    color: #833a93;
}
}