
.estiloImg {
      width: 347px;
  height: 338px;
  left: 167px;
  top: 1516px;
  background: #833a93;
  object-fit: cover;
      object-position: center center;
}

#skill {
  display: flex;
  flex-flow: row wrap;
  padding: 62px 0px;
  background-image: url("../img/skill.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center !important;
  width: 500px;
  height: 500px;
  margin-left: 300px;

}

.columnaText2 ul li{
  
  list-style-type: none;
  text-decoration: none;

} 


@media only screen and (max-width: 600px) {

  .barFront,.estiloImg, .columnaText, .barBack, .barFrontUi {
    display: none;
  }
.columnaText2{
margin: 23px 0px -5px;
}

#skill{
  background-image: url("../img/skill.png");
  background-repeat: no-repeat;
  background-size: 85%;
  background-position: center center !important;
  width: 300px;
  height: 300px;
  margin-left: 0px;
  
      
}
}